# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
.env
.env.*
.python-version

# IDEs
.idea/
*.iml
.vscode/

# MkDocs
site/

# Hatch/Build artifacts
*.whl

# macOS
.DS_Store
