__pycache__/
*.py[cod]
*.pyo
build/
dist/
*.egg-info/
*.egg
*.whl
src/epilink/_version.py
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/
.ipynb_checkpoints/
site/
.idea/
.vscode/
*.iml
.DS_Store
docs/epilink_schematic.aux
docs/epilink_schematic.log
docs/epilink_schematic.tex
/.snakemake/
